# Ignore node_modules (EAS rebuilds them)
node_modules

# Vite output (not needed)
dist
build

# OS/System files
.DS_Store
Thumbs.db

# IDE/editor files
.vscode
.idea
.expo

# Git
.git
.gitignore

# Logs
*.log

# Environment variables
.env
.env.local
.env.*.local

# Other large/unnecessary files
*.mp4
*.mov
*.psd
*.zip
*.tar.gz
